[user]
	name = masakiishii
	email = masaki.ishii511@gmail.com
[color]
  ui = true
[alias]
  co = checkout
  ci = commit
  st = status
  b = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[core]
  excludesfile = ~/.gitignore
